/* Стили для боковой панели */
.side-panel {
    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Прикрепляем панель к верху страницы */
    left: 0; /* Прикрепляем панель к левому краю страницы */
    height: 100%; /* Занимает 100% высоты страницы */
    width: 200px; /* Ширина панели */
    background-color: #222; /* Темный цвет фона */
    padding: 20px; /* Отступы внутри панели */
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5); /* Коричневая тень вправо */
    border-top-right-radius: 20px; /* Скругление углов справа сверху */
    border-bottom-right-radius: 20px; /* Скругление углов справа снизу */
    z-index: 999; /* Задаем z-index, чтобы панель находилась поверх остального контента */
    overflow-y: auto; /* Добавляем вертикальную прокрутку, если контент не помещается в панели */
    color: #ddd; /* Цвет текста */
}

/* Стили для боковой панели с светлым фоном */
.light-bg .side-panel {
    background-color: #f0f0f0; /* Светлый цвет фона */
    color: #333; /* Темный цвет текста */
}

/* Заголовок панели */
.side-panel h2 {
    font-size: 24px;
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для списка книг */
.book-list {
    list-style: none; /* Убираем стандартные маркеры */
    padding: 0;
    margin: 0;
}

/* Стили для элементов списка книг */
.book-list li {
    margin-bottom: 10px; /* Отступ между элементами списка */
}

/* Стили для ссылок на книги */
.book-list li a {
    color: inherit; /* Унаследованный цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Делаем ссылки блочными элементами */
    transition: color 0.3s; /* Плавное изменение цвета текста */
}

/* Стили для ссылок на книги при наведении */
.book-list li a:hover {
    color: #888; /* Изменяем цвет текста при наведении */
}
